name: Test

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt
      - name: Run tests
        run: |
          pytest -v

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: 'v3.13.2'

      - name: Test Helm chart
        run: |
          helm template ./helm --debug

      - name: Test Helm chart with existing secret
        run: |
          helm template ./helm --debug

      - name: Build image
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: local/automatic-zone-placement:latest

      - name: Scan image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'local/automatic-zone-placement:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
